<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Page</title>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
   
    
    
   <nav class="nav-container">
    <div class="header">
      <div class="camera-video">
        <img src="/image/video-camera.png"  class="video-camera"alt="">
      </div>
      <div class="movie-lead">
        <h1><span>M</span>OVIES</h1>
      </div>
    </div>

    
    <% if (success && success.length > 0) { %>
      <div class="flash-message success">
        <% success.forEach(msg => { %>
          <p><%= msg %></p>
        <% }) %>
      </div>
    <% } %> 
    <div class="reg-logo">
      <% if(!currentUser){ %>
        <div class="bars">
          <i class="fa-solid fa-bars" id="menu-bar"></i>
        </div>
        
        
        <div class="mobile-menu hidden" id="mobile-menu">
          <div class="reg">
            <button class="register-btn">
              <a href="/register">Register</a>
            </button>
          </div>
          <div class="log-content">
            <button class="login-btn">
              <a href="/login">Login</a>
            </button>

          </div>
        </div>

      <% }else {%>
        <span><%= currentUser.username.toUpperCase() %></span>
        <button class="logout">
          <a href="/logout">Logout</a>

        </button>
      <% } %>

    </div>
</nav>  
<% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>


       <div class="genre-container">
           <div class="genre-content">
            <div class="genre1">
              <img src="/image/action.jpeg" alt="movies" class="image">
           </div>
           
            <div class="genre1">
              <img src="/image/thriller.jpeg" alt="movies" class="image">
           </div>
            <div class="genre1">
              <img src="/image/drama.jpeg" alt="movies" class="image">
           </div>

           </div>

       </div>

       <div class="genre-container">
           <div class="genre-content1">
            <div class="genre1">
              <img src="/image/cartoon.jpeg" alt="movies" class="image">
           </div>
           
            <div class="genre1">
              <img src="/image/comedy.jpeg" alt="movies" class="image">
           </div>
            <div class="genre1">
              <img src="/image/horror.jpeg" alt="movies" class="image">
           </div>

           </div>

       </div>
      <div class="display">
        <div class="star-icon">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="movie-head">
          <h1 class="movies-display">MOVIES ON DISPLAY</h1>

        </div>
        <div class="star-icon1">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>

        </div>

      </div>

   
     <div class="card-container">
            <div class="card-content">
              <div class="card1">
                 <img src="/image/sinners.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/thunderbolts.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/shadow force.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/mission impossible.jpeg" alt="movies" class="image">
              </div>

            </div>
     </div>

     <div class="card-container1">
      <div class="card-content1">
        <div class="card1">
         <img src="/image/working man.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/avatar.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/avengers.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
            <img src="/image/tron ares.jpeg" alt="movies" class="image">
           </div>

      </div>
     </div>

  
      
    <div class="movielist-container">
      <% for(let movie of movies){ %>
          <li><a href="/movie/<%= movie._id %>"><%= movie.title %></a></li>
       <% } %>
          <div>
             <a href="/movie/new">Request a Movie </a>
         </div>

    </div>
    <footer class="footer-container">
        <div class="container">
            <span class="text-muted"> &copy;Movies 2025</span>
        </div>
    </footer>

    <script>
      
   ScrollReveal().reveal(".card-content .card1", {
      origin: 'left',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".card-content1 .card1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".genre-content .genre1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".genre-content1 .genre1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

    let menuBar = document.getElementById("menu-bar");
    let mobileMenu = document.getElementById("mobile-menu");

menuBar.addEventListener("click", iconActive);

function iconActive() {
  if(menuBar.classList.contains("fa-bars")){
        menuBar.classList.replace("fa-bars","fa-x")
      }else{
        menuBar.classList.replace("fa-x","fa-bars")
      }
      if(mobileMenu.style.display === "block"){
        mobileMenu.style.display = "none"
      }else{
         mobileMenu.style.display = "block"
      }
}

  
    </script>
</body>
</html>