<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
</head>
<body>
   
    
    
   <nav class="nav-container">
    <div class="header">
        <h1>MOVIE</h1>
    </div>

    
    <% if (success && success.length > 0) { %>
      <div class="flash-message success">
        <% success.forEach(msg => { %>
          <p><%= msg %></p>
        <% }) %>
      </div>
    <% } %> 
    <div class="reg-logo">
      <% if(!currentUser){ %>
        <button class="register-btn">
          <a href="/register">Register</a>
        </button>
        <button class="login-btn">
          <a href="/login">Login</a>
        </button>
      <% }else {%>
        <span><%= currentUser.username.toUpperCase() %></span>
        <button class="logout">
          <a href="/logout">Logout</a>

        </button>
      <% } %>

    </div>
</nav>  
<% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>

   
     <div class="card-container">
         <div class="card">
            <img src="/image/sinners.jpeg" alt="movies" class="image">
         </div>
         <div class="card1">
          <img src="/image/thunderbolts.jpeg" alt="movies" class="image">
         </div>
         <div class="card2">
          <img src="/image/shadow force.jpeg" alt="movies" class="image">
         </div>
         <div class="card3">
          <img src="/image/mission impossible.jpeg" alt="movies" class="image">
         </div>
     </div>
     <div class="card-container1">
         <div class="card">
          <img src="/image/working man.jpeg" alt="movies" class="image">
         </div>
         <div class="card1">
          <img src="/image/avatar.jpeg" alt="movies" class="image">
         </div>
         <div class="card2">
          <img src="/image/avengers.jpeg" alt="movies" class="image">
         </div>
         <div class="card3">
             <img src="/image/tron ares.jpeg" alt="movies" class="image">
            </div>
     </div>

  
      
    
    <% for(let movie of movies){ %>
        <li><a href="/movie/<%= movie._id %>"><%= movie.title %></a></li>
     <% } %>
        <div>
           <a href="/movie/new">Request a Movie </a>
       </div>
    <footer class="footer-container">
        <div class="container">
            <span class="text-muted"> &copy;Movies 2025</span>
        </div>
    </footer>
</body>
</html>