<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
   
    
    
   <nav class="nav-container">
    <div class="header">
      <div class="camera-video">
        <img src="/image/video-camera.png"  class="video-camera"alt="">
      </div>
      <div class="movie-lead">
        <h1><span>M</span>OVIES</h1>
      </div>
    </div>

    
    <% if (success && success.length > 0) { %>
      <div class="flash-message success">
        <% success.forEach(msg => { %>
          <p><%= msg %></p>
        <% }) %>
      </div>
    <% } %> 
    <div class="reg-logo">
      <% if(!currentUser){ %>
        <button class="register-btn">
          <a href="/register">Register</a>
        </button>
        <button class="login-btn">
          <a href="/login">Login</a>
        </button>
      <% }else {%>
        <span><%= currentUser.username.toUpperCase() %></span>
        <button class="logout">
          <a href="/logout">Logout</a>

        </button>
      <% } %>

    </div>
</nav>  
<% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>


       <div class="genre-container">
           <div class="genre-content">
            <div class="genre1">
              <img src="/image/action.jpeg" alt="movies" class="image">
           </div>
           
            <div class="genre1">
              <img src="/image/thriller.jpeg" alt="movies" class="image">
           </div>
            <div class="genre1">
              <img src="/image/drama.jpeg" alt="movies" class="image">
           </div>

           </div>

       </div>

       <div class="genre-container">
           <div class="genre-content1">
            <div class="genre1">
              <img src="/image/cartoon.jpeg" alt="movies" class="image">
           </div>
           
            <div class="genre1">
              <img src="/image/comedy.jpeg" alt="movies" class="image">
           </div>
            <div class="genre1">
              <img src="/image/horror.jpeg" alt="movies" class="image">
           </div>

           </div>

       </div>
      <div class="display">
        <h1 class="movies-display">MOVIES ON DISPLAY</h1>

      </div>

   
     <div class="card-container">
            <div class="card-content">
              <div class="card1">
                 <img src="/image/sinners.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/thunderbolts.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/shadow force.jpeg" alt="movies" class="image">
              </div>
              <div class="card1">
               <img src="/image/mission impossible.jpeg" alt="movies" class="image">
              </div>

            </div>
     </div>

     <div class="card-container1">
      <div class="card-content1">
        <div class="card1">
         <img src="/image/working man.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/avatar.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
         <img src="/image/avengers.jpeg" alt="movies" class="image">
        </div>
        <div class="card1">
            <img src="/image/tron ares.jpeg" alt="movies" class="image">
           </div>

      </div>
     </div>

  
      
    
    <% for(let movie of movies){ %>
        <li><a href="/movie/<%= movie._id %>"><%= movie.title %></a></li>
     <% } %>
        <div>
           <a href="/movie/new">Request a Movie </a>
       </div>
    <footer class="footer-container">
        <div class="container">
            <span class="text-muted"> &copy;Movies 2025</span>
        </div>
    </footer>

    <script>
      
   ScrollReveal().reveal(".card-content .card1", {
      origin: 'left',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".card-content1 .card1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".genre-content .genre1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });

   ScrollReveal().reveal(".genre-content1 .genre1", {
      origin: 'right',
      distance: '300px',
      delay: 300,
      duration: 2000,
      interval: 200
    });
    </script>
</body>
</html>