<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Page</h1>
    <h1><%= movie.title %></h1>
    <h2><%= movie.genre %></h2>
    <p><%= movie.year %></p>

    <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
    <footer>
        <a href="/movie/<%= movie._id %>/edit">Edit</a>
        <a href="/">All movies</a>
    </footer>
</body>
</html>