<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .review-heading{
            margin-top: 0px;
        }
        .review-card{
            /* border: 2px solid black; */
            width: 200px;
            height: 100px;
        }
        .card-body{
            width: 300px;
            height: 70px;
            /* border: 2px solid red;  */
        }
        .show-container{
            display: flex;
            gap: 90px;
            justify-content: center;
        }
        .review-content{
            margin-top: 10px;
        }
        .request{
            font-size: 18px;
        }
        .Request-rev{
            margin-top: 25px;
        }
        .form-btn{
            padding: 30px 0 0 0px; 
            display: flex;
            gap: 20px;
                
            }
            .edit-btn{
                padding: 5px 20px 5px 20px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px;
            }
            .delete-btn{
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px; 
            }
            .all-btn{
                padding: 5px 20px 5px 20px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px;
                margin-top: 20px; 
            }
            textarea {
                width: auto;
                max-width: 100%;
                box-sizing: border-box;
  }
                
        @media (max-width:500px) {
            .show-container{
                gap:10px;
                padding-left: 20px;
            }
            .show-heading{
                padding: 0 0 0 30px;
            }
            .show-title{
                padding: 0 0 0 30px;  
            }
            .gen-year{
                padding: 0 0 0 30px;  
            }
            .request-tab{
                padding: 0 0 0 30px;    
            }
            .form-btn{
                padding: 0 0 0 30px;  
                
            }
            h1{
            font-size: 16px;    
        
        }
        .image-tab{
            padding: 0 0 0 25px;
        }
        .show-image{
            width: 200px;
            height: 200px;
        }
        .request{
            font-size: 18px;
        }
        .card-body{
            width: 200px;
            height: 70px;
            /* border: 2px solid red;  */
        }
        .review-content{
            padding: 0 0 0 10px;
        }
        .all-btn{
            margin-top: 0;
        }
        textarea {
      width: 50%;
       cols: auto;
    }
        }
    </style>
</head>
<body>

    <div class="show-container">
        <div class="show-content">
            <% if (success) { %>
                <div class="alert success"><%= success %></div>
              <% } %>
              <% if (error) { %>
                <div class="alert error"><%= error %></div>
              <% } %>
             
                
                  <form  action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                    <div class="form-btn">
                        <button class="edit-btn">
                            <a href="/movie/<%= movie._id %>/edit">Edit</a>
                        </button>
                        <button class="delete-btn">DELETE</button>

                    </div>
                </form>
             
           
             <div class="show-heading">
                 <h1>Show Page</h1>

             </div> 
             <div class="show-title">
                 <h1>Title:<%= movie.title %></h1>

             </div>
             <div class="image-tab">
                 <% for (let img of movie.images) { %>
                     <img  class="show-image"src="<%= img.url %>" alt="Movie Image" width="300">
                 <% } %>

             </div>
            <div class="gen-year">

                <h2>Genre:<%= movie.genre %></h2>
                <h2>Year:<%= movie.year %></h2>
            </div>
           <div class="request-tab">

               <% if (movie.author) { %>
                   <p class="request">Requested by: <%= movie.author.username.toUpperCase() %></p>
                 <% } else { %>
                   <p>Uploaded by: Unknown</p>
                 <% } %>
           </div>

              <% if(currentUser && movie.author.equals(currentUser._id)) {%>
              <!-- <div class="control-buttons">
                  <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                      <a href="/movie/<%= movie._id %>/edit">Edit</a>
                      <button>DELETE</button>
                  </form>
              </div> -->
              <!-- <% } %>
            <footer>
                <a href="/movie">All movies</a>
            </footer> -->
        </div>
       <div class="review-content">
           <% if(currentUser) {%>
           <form action="/movie/<%= movie._id %>/review" class="movieForm" method="POST" novalidate>
            <footer>
                <button class="all-btn">
                    <a href="/movie">All movies</a>

                </button>
            </footer>
               <h2>Leave a Review</h2>
               <div>
                   <div>
                       <label for="ratings">Ratings</label>
       
                   </div>
                   <input type="range" min="1" max="5" name="review[rating]" id="rating">
               </div>
               <div class="review-heading">
                   <div>
                       <label for="body">Review</label>
                   </div>
                <textarea name="review[body]" cols="30" rows="2" id="body" required></textarea>
               </div>
               <button>Submit</button>
           </form>
           <% } %>

    <% for(let review of movie.reviews) {%>
        <div class="review-card">
            <div class="card-body">
                <p class="Request-rev" >Requested by: <%= review.author.username.toUpperCase() %></p>
                <p>Rating:<%= review.rating %></p>
                <p>Review:<%= review.body %></p>
                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                <form action="/movie/<%= movie._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                    <button>DELETE</button>
                </form>
                <% } %>
            </div>

        </div>
    <% } %>
       </div>
    </div>
</body>
</html>