<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .review-heading{
            margin-top: 0px;
        }
        .review-card{
            /* border: 2px solid black; */
            width: 200px;
            height: 100px;
        }
        .card-body{
            width: 300px;
            height: 70px;
            /* border: 2px solid red;  */
        }
        .show-container{
            display: flex;
            gap: 90px;
            justify-content: center;
        }
        .review-content{
            margin-top: 10px;
        }
        .request{
            font-size: 18px;
        }
        .Request-rev{
            margin-top: 25px;
        }
    </style>
</head>
<body>

    <div class="show-container">
        <div class="show-content">
            <% if (success) { %>
                <div class="alert success"><%= success %></div>
              <% } %>
              <% if (error) { %>
                <div class="alert error"><%= error %></div>
              <% } %>
              
            <h1>Show Page</h1>
            <h1><%= movie.title %></h1>
            <% for (let img of movie.images) { %>
                <img src="<%= img.url %>" alt="Movie Image" width="300">
            <% } %>
            <h2><%= movie.genre %></h2>
            <p><%= movie.year %></p>
           
            <% if (movie.author) { %>
                <p class="request">Requested by: <%= movie.author.username.toUpperCase() %></p>
              <% } else { %>
                <p>Uploaded by: Unknown</p>
              <% } %>

              <% if(currentUser && movie.author.equals(currentUser._id)) {%>
              <div class="control-buttons">
                  <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                      <a href="/movie/<%= movie._id %>/edit">Edit</a>
                      <button>DELETE</button>
                  </form>
              </div>
              <% } %>
            <footer>
                <a href="/movie">All movies</a>
            </footer>
        </div>
       <div class="review-content">
           <% if(currentUser) {%>
           <form action="/movie/<%= movie._id %>/review" class="movieForm" method="POST" novalidate>
               <h2>Leave a Review</h2>
               <div>
                   <div>
                       <label for="ratings">Ratings</label>
       
                   </div>
                   <input type="range" min="1" max="5" name="review[rating]" id="rating">
               </div>
               <div class="review-heading">
                   <div>
                       <label for="body">Review</label>
                   </div>
                <textarea name="review[body]" cols="30" rows="3" id="body" required></textarea>
               </div>
               <button>Submit</button>
           </form>
           <% } %>

    <% for(let review of movie.reviews) {%>
        <div class="review-card">
            <div class="card-body">
                <p class="Request-rev" >Requested by: <%= review.author.username.toUpperCase() %></p>
                <p>Rating:<%= review.rating %></p>
                <p>Review:<%= review.body %></p>
                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                <form action="/movie/<%= movie._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                    <button>DELETE</button>
                </form>
                <% } %>
            </div>

        </div>
    <% } %>
       </div>
    </div>
</body>
</html>